<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <script>
    /*
    1. List the bugs
    2. Add a new bug
    3. Toggle the closed status of the bug
    4. Remove closed bugs
    5. Display statistics
    6. Search for bugs
    7. Sort the bugs
    8. Improvise the bug display (name)
    9. Display the created time stamp of the bug
    10. Persist the bugs in the server
    */
    </script>
    <style>
        .stats{
            font-weight: bold;
            font-size: 12pt;
        }
        .closed {
            color : red;
            text-decoration: line-through;
            font-style: italic;
        }
        div {
            margin-bottom: 10px;
        }
    </style>
    <script src="angular.js"></script>
    <script>
        var bugTrackerApp = angular.module("bugTrackerApp", []);

        bugTrackerApp.factory("Bug", function getBugClass($http){ 
            return function Bug(defaults){
                this.name = defaults.name;
                this.isClosed = defaults.isClosed;

                this.toggle = function(){
                    this.isClosed = !this.isClosed;
                };

                Bug.prototype.toggle = function() {  //creating a function for the base class of Bug so that it is available in all objects of Bug (more efficient)
                    this.isClosed = defaults.isClosed;
                };
            };
        });


        bugTrackerApp.controller("bugsController", function($scope, Bug){
            $scope.bugs = [
                new Bug({name: "Server Communication Failure", isClosed: false}),
                new Bug({name: "Stack Overflow Error", isClosed: false}),
                new Bug({name: "Object Reference Not Found", isClosed: false}),
                new Bug({name: "User Authentication Failure", isClosed: false})
            ];

            $scope.newBugName = "";

            $scope.addbug = function(){
                var nBug = new Bug({name: $scope.newBugName, isClosed: false});
                $scope.bugs.push(nBug);
            };

            $scope.toggle = function(bug){
                bug.toggle();
            };

            $scope.setSelectedBug = function(bug){
                $scope.selectedBug = bug;
            };

            $scope.removeClosedBugs = function(){
                for (var i=$scope.bugs.length-1; i>=0; i--) {
                    var bug = $scope.bugs[i];
                    if(bug.isClosed==true) {
                        $scope.bugs.splice(i, 1);
                    }
                }
            };

            $scope.getClosedCount = function() {
                return $scope.bugs.filter(function(bug){
                    return bug.isClosed;
                }).length;
            }
        });

    </script>
</head>
<body ng-app="bugTrackerApp"><!--angular starts compilation from here-->
<h1>Bug Tracker</h1>
<div class="content" ng-controller="bugsController">
    <div class="stats">
        <span class="closed">{{getClosedCount()}}</span>
        /
        <span>{{bugs.length}}</span>
    </div>
    <div class="search">
        <label for="">Search :</label>
        <input type="text" ng-model="searchBug">
    </div>
    <div class="order">
        <label for="">Sort :</label>
        <input type="text" name="" id="">
    </div>
    <div class="list">
        <label for="">Bug :</label>
        <input type="text" name="" id="" ng-model="newBugName">
        <input type="button" value="Add Bug" ng-click="addbug()">
        <input type="button" value="Remove Closed" ng-click="removeClosedBugs()">
        <ol>
            <li ng-repeat="bug in bugs | filter:searchBug" ng-class="{closed: bug.isClosed}">
                {{bug}}
                <input type="button" value="Toggle Bug Status" ng-click="toggle(bug)">
                <!--<input type="button" value="select" ng-click="setSelectedBug(bug)">-->
            </li>
        </ol>
        <br/><br/>
        <!--<div>The selected bug is {{selectedBug}}</div>-->
    </div>
</div>
</body>
</html>
